<div class="container">
  <div class="content hide">
    <h1 class="title">movieSelected.title || movieSelected.name</h1>
    <div class="info">
      <p class="rating">Rating: movieSelected.vote_average * 10%</p>
      <p>Release date:</p>
      <p>Popularity: movieSelected.popularity</p>
    </div>
    <p class="overview">movieSelected.overview</p>
    <button class="btn-red">
      <!-- <FaPlay class="btn--icon" /> -->
      <span>Play</span>
    </button>
    <button class="btn-mylist">
      <!-- <FaPlus class="btn--icon" /> -->
      <span>ADD My List</span>
    </button>
    <button class="btn-close">
      Close
    </button>
  </div>
</div>
