<div class="container">
  <div
    [className]="classModal"
    [ngStyle]="{
      'background-image':
        'url(' +
        'https://image.tmdb.org/t/p/original/' +
        ((_movieSelected && _movieSelected.backdropPath) || '') +
        '), linear-gradient(127deg, rgba(0,0,0,1) 29%, rgba(5,5,28,0) 99%)',
      'background-size': 'cover'
    }"
  >
    <h1 class="title">
      {{
        (_movieSelected && _movieSelected.title) ||
          (_movieSelected && _movieSelected.name)
      }}
    </h1>
    <div class="info">
      <p class="rating">
        Rating:
        {{
          (_movieSelected && _movieSelected.voteAverage * 10 + '%') ||
            'Not informed'
        }}
      </p>
      <p>Release date:</p>
      <p>Popularity: {{ _movieSelected && _movieSelected.popularity }}</p>
    </div>
    <p class="overview">{{ _movieSelected && _movieSelected.overview }}</p>
    <button class="btn-red" (click)="addOnAlreadyWatched(_movieSelected)" >
      <!-- <FaPlay class="btn--icon" /> -->
      <span>Play</span>
    </button>
    <button class="btn-mylist" (click)="addOnMyList(_movieSelected)">
      <!-- <FaPlus class="btn--icon" /> -->
      <span>ADD My List</span>
    </button>
    <button class="btn-close" (click)="close()">
      Close
    </button>
  </div>
</div>
