<div class="container">
  <div class="sign">
    <header data-testid="header">
      <img src="./../../../assets/images/logo.png" alt="IlegraFlix" />
      <h1>Sign in</h1>
    </header>
    <form [formGroup]="form" (ngSubmit)="login()" data-testid="form">
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        data-testid="email"
      />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        data-testid="password"
      />
      <button type="submit" [disabled]="!form.valid" data-testid="btn-submit">
        Sign in
      </button>
    </form>
  </div>
</div>
