<app-header></app-header>
<div class="container">
  <div *ngFor="let movie of movies" class="movie-item">
    <div (click)="openModal(movie)">
      <img
        data-testid="poster-path"
        src="{{ movie.posterPath }}"
        alt="Folder"
        onClick=""
      />
      <div class="container-item-info">
        <span>{{ movie.title || 'Title not found' }}</span>
        <span>{{ movie.releaseDate.getFullYear() || '' }}</span>
      </div>
    </div>
  </div>
</div>
<app-modal [showModal]="showModal" [movieSelected]="movieSelected">
  <app-modal-player [showModalPlayer]="showModalPlayer"></app-modal-player>
</app-modal>
